<h1>All Lists: </h1>

<%if(currentUser) { %>

<!-- Display All the lists with title/location/weather/type/username && clickable links -->
<ul>
  <!-- <button><a href="/lists/new">Add a List</a></button> -->
<% lists.forEach((list) => { %>
    <li><a href="/lists/<%= list.id%>"><%= list.title %></a></li>
<% }) %>
</ul>

<% }else{ %>

  <% lists.forEach((list) => { %>
      <li><%= list.title %></li>
  <% }) %>
  </ul>
<%}%>
