<h1>Create a List</h1>
<form action="/profile/<%= user._id %>/lists" method="post">
  <label>Title</label>
  <input type="text" name="title">
  <label>Location</label>
  <input type="text" name="location">
  <label>Weather</label>
  <input type="text" name="weather">
  <label>Event Type</label>
  <input type="text" name="type">
  <button type="submit">Create List!</button>
</form>
