<h1>Individual List</h1>
<!-- Display the list -->
<!-- TITLE -->
<!-- LOCATION | TYPE | WEATHER -->
<!-- BY: Username -->
<!-- Wrapped in current user/list owner if statement -->
<input type="text" id="task-input">
<button id="add-task"> Add </button>
<!-- else  -->
<!-- clone option -->
<!-- end if statement -->


<!--Script tag with ejs to add tasks if the user is logged in???  -->
