<h1>Enter Location:</h1>

<form method="post" action="/locations">
  <input type="text" placeholder="Title" name="title"><br>
  <input type="text" placeholder="Latitude" name="latitude" >
  <input type="text" placeholder="Longitude" name="longitude">
  <button type="submit">Create</button>
</form>
