<%if(isLoggedIn) { %>
<div class=" text-center page-header">
<h1><%= location.title%> </h1>
</div>
<div class="row">
  <% lists.forEach((l) => { %>
    <% if (location.id == l.location.id) { %>
      <div class="text-center col-md-4">
        <div class="col-md-12">
          <div class="panel panel-default list-box">
              <div class="panel-heading"><a href='/lists/<%= l.id%>' ><h6><%= l.title %></a></h6></div>
              <div class="panel-body" id="tasks-list">Created by: <%= l.user.local.firstname %></div>
          </div>
        </div>
      </div>
    <% } %>
  <% }) %>
</div>

<style>
.list-box:hover {
 box-shadow: 10px 10px 5px #888888;
 transform: scale(1.1)
}
</style>

<% } else { %>
<script type="text/javascript">
  var requestSettings = {
    method: 'GET',
    url: '/'
  }
  $.ajax(requestSettings)
    .done(function(done){
      window.location= '/login'
    })
</script>
<% } %>
