<%if(isLoggedIn) { %>
<div class="page-header">
<h1><%= location.title%> </h1>
<% lists.forEach((l) => { %>
  <% if (location.id == l.location.id) { %>
    <div class="panel panel-default col row">
    <div class="panel-heading"><a href='/lists/<%= l.id%>' ><h3><%= l.title %></a></h3></div>
    <div class="panel-body">Created by: <%= l.user.local.firstname %></div>
    </div>
  <% } %>
<% }) %>
<% } else { %>

<script type="text/javascript">
  var requestSettings = {
    method: 'GET',
    url: '/'
  }
  $.ajax(requestSettings)
    .done(function(done){
      window.location= '/login'
    })
</script>


<% } %>
